
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySpesenLabel">Create or edit a Spesen</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.spesen.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.spesen.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_datum">Datum</label>
                <div class="input-group">
                    <input id="field_datum" type="text" class="form-control" name="datum" uib-datepicker-popup="{{dateformat}}" ng-model="vm.spesen.datum" is-open="vm.datePickerOpenStatus.datum"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datum')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_posten">Posten</label>
            <input type="text" class="form-control" name="posten" id="field_posten"
                    ng-model="vm.spesen.posten"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_betrag">Betrag</label>
            <input type="number" class="form-control" name="betrag" id="field_betrag"
                    ng-model="vm.spesen.betrag"
                     />
        </div>

        <div class="form-group">
            <label for="field_mitarbeiter">Mitarbeiter</label>
            <select class="form-control" id="field_mitarbeiter" name="mitarbeiter" ng-model="vm.spesen.mitarbeiter" ng-options="mitarbeiter as mitarbeiter.nachname for mitarbeiter in vm.mitarbeiters track by mitarbeiter.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_projekt">Projekt</label>
            <select class="form-control" id="field_projekt" name="projekt" ng-model="vm.spesen.projekt" ng-options="projekt as projekt.name for projekt in vm.projekts track by projekt.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
